<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for all network calls (Firebase, Stripe, backend) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required for image_picker camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Required for image_picker gallery on Android < 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <!-- Required for image_picker gallery on Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:label="BASERENT"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Required for Stripe payment sheet return URL -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Stripe deep link return after 3DS authentication -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="baserent" android:host="payment"/>
            </intent-filter>
        </activity>

        <!-- Required for flutter_stripe on Android -->
        <activity
            android:name="com.stripe.android.paymentsheet.PaymentSheetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false"/>

        <!-- Don't delete the meta-data below -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Required to query activities that can process text (image_picker) -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
    </queries>

</manifest>
